.hidden {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 650px;
}

.background-img {
  background-image: url("../images/dota2.jpeg");
  object-fit: contain;
  background-size: 100% 1400px;
}

body {
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  top: 70px;
  left: 0;
  height: 170%;
  width: 100%;
}

header {
  height: 80px;
  padding: 20px;
}

main {
  position: relative;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 575px;
    margin: 0 auto;
  }

  .column-half {
    flex-basis: 100%;
  }

  h1 {
    font-size: 15px;
  }

  a {
    font-size: 2rem;
  }
}
