.background-color {
  background-color: #161d24;
}

a {
  font-size: 18px;
  text-decoration: none;
}

h1,
a {
  padding-right: 30px;
  color: white;
  font-family: Cinzel, sans-serif;
}

h3 {
  color: white;
  font-family: Martel, sans-serif;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.padding {
  padding: 40px;
}

button {
  background-color: #161d24;
  border: #161d24;
  margin: 20px;
  color: white;
  font-family: Martel, sans-serif;
  padding: 5px;
  width: 60px;
  height: 30px;
}

input {
  padding: 5px;
  border: 2px solid;
}

button:hover {
  cursor: pointer;
}

.table-profile,
.table-matches,
.table-heroes {
  color: white;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #161d24;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  font-family: Cinzel, sans-serif;
  border: 2px solid #353f49;
  margin-bottom: 40px;
}

.table-profile td {
  padding: 15px;
}

.table-profile :nth-child(even) {
  background-color: #353f49;
}

.table-matches {
  padding: 10;
}

.table-matches tr {
  height: 30px;
}

.table-matches tr:nth-child(even) {
  background-color: #353f49;
}

.table-heroes tr:nth-child(even) {
  background-color: #353f49;
}

.padding-top {
  padding-top: 20px;
}

img {
  padding: 10px;
}

.dota-data:hover {
  cursor: pointer;
}

tr img {
  height: 60px;
  width: 100%;
  margin: 1px;
  padding: 0;
  display: block;
}
